.about {

	@media (max-width: $mobile-width) {
		position: relative;
		padding-bottom: 20rem;
	}
	&__wrapper {
		display: flex;

		@media (max-width: $mobile-width) {
			flex-direction: column;
		}
	}

	&__left {
		padding-top: 2.5rem;
		width: 71.2rem;
		margin-right: 14.7rem;
		padding-top: 5rem;

		@media (max-width: $mobile-width) {
			margin: 0;
		}
	}

	&__right {
		width: 64.1rem;
		display: flex;

		@media (max-width: $mobile-width) {
			width: 100%;
			margin-top: 8rem;
			flex-direction: column;
		}
	}

	&__title {
		font-family: 'Exo 2', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 2rem;
		line-height: 120%;
		text-transform: uppercase;
		color: #434248;
		margin-bottom: 3.6rem;
		display: flex;
		flex-direction: column;

		span {
			display: inline-block;
			margin-bottom: 2.7rem;
			width: 100%;

			@media (max-width: $mobile-width) {
				font-size: 3.6rem;
				margin-bottom: 2rem;
			}
		}

		strong {
			font-weight: 800;
			font-size: 4.5rem;
			width: 100%;
			line-height: 5.4rem;

			@media (max-width: $mobile-width) {
				font-size: 6rem;
				margin-bottom: 0;
			}
		}
	}

	&__right-image {
		display: inline-block;
		width: 28rem;
		height: 35rem;
		box-shadow: 0 2rem 10rem rgba(67, 66, 72, 0.2);
		border-radius: 2rem;
		margin-right: 5.1rem;

		@media (max-width: $mobile-width) {
			width: 100%;
			height: 44.8rem;
			border-radius: 4rem;
			overflow: hidden;
			margin-bottom: 6rem;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;

			@media (max-width: $mobile-width) {
				object-fit: cover;
			}
		}
	}

	&__right-text {
		padding-top: 2rem;
		width: 31.1rem;
		font-style: normal;
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 140%;
		color: #434248;

		@media (max-width: $mobile-width) {
			width: 100%;
			margin-bottom: 12rem;
		}

		strong {
			display: inline-block;
			font-size: 3rem;
			margin-bottom: 3rem;

			@media (max-width: $mobile-width) {
				font-size: 5.6rem;
				line-height: 140%;
			}
		}

		span {
			display: inline-block;
			width: 100%;
			@media (max-width: $mobile-width) {
				font-size: 3.6rem;
				line-height: 150%;
			}
		}
	}

	&__catering {
		padding-top: 7rem;
		display: flex;

		@media (max-width: $mobile-width) {
			flex-direction: column;
		}
	}

	&__catering-image {
		width: 47.3rem;
		height: 39.3rem;
		box-shadow: 0 2rem 10rem rgba(67, 66, 72, 0.42);
		border-radius: 2rem;
		display: inline-block;
		margin-right: 4.2rem;

		@media (max-width: $mobile-width) {
			width: 100%;
			height: 67.2rem;
			border-radius: 4rem;
			overflow: hidden;
			margin-bottom: 6rem;

			img {
				object-fit: cover;
				height: 100%;
			};
		}
	}

	&__catering-inner {
		width: 83.1rem;
		font-style: normal;
		font-weight: 600;
		font-size: 3rem;
		line-height: 150%;
		color: #434248;

		@media (max-width: $mobile-width) {
			width: 100%;
		}
	}

	&__catering-title {
		margin-bottom: 3rem;

		@media (max-width: $mobile-width) {
			font-size: 5rem;
			line-height: 150%;

		}
	}

	&__catering-text {
		p {
			font-size: 2rem;
			margin-bottom: 3rem;
			font-weight: 400;
			line-height: 3rem;

			@media (max-width: $mobile-width) {
				font-size: 3.2rem;
				width: 100%;
				line-height: 150%;
			}
		}

		p:last-child {
			margin-bottom: 0;
		}
	}

	.btn {
		@media (max-width: $mobile-width) {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 0);
			width: 34.2rem;
		}
	}
}