.about-company {

  img {
    display: flex;
    height: 100%;
  }

  .container {}

  &__wrapper {

    padding-top: 21.5rem;
    padding-bottom: 19.1rem;


    display: grid;
    grid-template-columns: 31rem 53.5rem 53.5rem;
    column-gap: 6rem;
    row-gap: 0;
    grid-template-areas:
      "it h t"
      "it ib t"
      "b ib t";

    @media (max-width: $mobile-width) {
      display: block;
      padding-top: 9.5rem;
    }
  }

  &__header {
    grid-area: h;
    margin-top: 5rem;
    margin-bottom: 6.6rem;

    @media (max-width: $mobile-width) {
      margin-bottom: 9.6rem;
    }
  }

  .sub-title {}

  .title {}

  &__img-top {
    grid-area: it;

    @media (max-width: $mobile-width) {
      height: 44rem;
      margin-bottom: 6.1rem;
    }

  }

  &__img-wrapper {
    box-shadow: 0 2.0rem 10.0rem rgba(67, 66, 72, 0.2);
    border-radius: 2.0rem;
    overflow: hidden;

    @media (max-width: $mobile-width) {
      height: 100%;

      img {
        height: 100%;
        object-fit: cover;
        object-position: center -9rem;
      }
    }
  }

  &__text {
    grid-area: t;
    margin-top: 14.4rem;

    @media (max-width: $mobile-width) {
      margin-top: 0;
    }
  }

  .text {
    p {
      margin-bottom: 2.8rem;

      @media (max-width: $mobile-width) {
        margin-bottom: 5.8rem;
      }
    }
  }

  &__img-bottom {
    grid-area: ib;

    @media (max-width: $mobile-width) {

      height: 50rem;

      img {
        object-position: center;
      }
    }
  }

  &__btn {
    grid-area: b;
    min-width: 51.5rem;

    @media (max-width: $mobile-width) {
      width: 57.4rem;
      height: 15rem;
      margin-right: -3.2rem;
      margin-left: auto;
      margin-top: -8.4rem;
      
    }
  }

  .bg-filter {
    position: relative;
    padding: 2rem 2rem 2.4rem 11.4rem;

    font-weight: 600;
    font-size: 2rem;
    line-height: 125%;
    margin-bottom: 10rem;

    @media (max-width: $mobile-width) {
      width: 100%;
      height: 100%;
      font-size: 3.2rem;
      padding: 3.5rem 18.3rem 2.4rem 5.4rem;
    }
  }

  .btn {
    position: absolute;
    bottom: -1.9rem;
    left: 3rem;

    @media (max-width: $mobile-width) {
      left: auto;
      right: 3.2rem;
    }
  }

  .btn__eye {

    @media (max-width: $mobile-width) {
      width: 9rem;
  height: 9rem;
    }
  }
}