.clients {
	margin-top: 10rem;
	padding-bottom: 20.6em;
	position: relative;
	
	&__wrapper	{
		@media (max-width: $mobile-width) {
			padding-bottom: 20rem;
		}
	}


	@media (max-width: $mobile-width) {}

	.container {
		@media (max-width: $mobile-width) {
		
		}
	}

	&__title {
		display: flex;
		justify-content: space-between;
		margin-bottom: 6rem;

		h2 {
			font-family: 'Exo 2', sans-serif;
			font-style: normal;
			font-weight: 800;
			font-size: 4.5rem;
			line-height: 120%;
			text-transform: uppercase;
			color: #434248;
		}

		.all-btn {
			width: 22.7rem;
			height: 5.9rem;
			margin-top: -0.9rem;
		}
	}

	&__table {
		width: 36rem;
		height: 16rem;
		background: linear-gradient(149.74deg, rgba(221, 220, 221, 0.8) 1.03%, rgba(251, 251, 251, 0.8) 99.31%);
		box-shadow: inset 0.2rem 0.3rem 0.4rem rgba(255, 255, 255, 0.5), inset -0.2rem -0.4rem 0.4rem rgba(67, 66, 72, 0.2);
		border-radius: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 2rem;

		@media (max-width: $mobile-width) {
			width: 32.6rem;
			height: 32rem;
			margin: 0 0 4rem 0;
		}

		img {
			object-fit: contain;
			width: auto;
			height: auto;
		}
	}

	&__table:last-child {
		margin-right: 0;
	}

	&__tables {
		display: flex;
		margin-bottom: 2rem;

		@media (max-width: $mobile-width) {
			margin-bottom: 0;
			flex-wrap: wrap;

			justify-content: space-between;
		}
	}

	&__tables:last-child {
		margin-bottom: 0;
	}

	&__table--big {
		width: 74rem;
		height: 16rem;

		@media (max-width: $mobile-width) {
			height: 32rem;
		}
	}

	&__table-text {
		font-style: normal;
		font-weight: normal;
		font-size: 2.2rem;
		line-height: 150%;
		color: #434248;

		span {
			font-weight: 600;
			font-size: 5rem;
			line-height: 150%;
			padding-left: 3rem;
			padding-right: 3rem;
		}
	}

	.btn {


		@media (max-width: $mobile-width) {
			left: 50%;
			transform: translate(-50%, 0);
			position: absolute;
			bottom: 11rem;
		}
	}
}