.delivery {

	&__wrapper {
		display: flex;
		align-items: center;
		padding: 11.4rem 3.5rem;

		@media (max-width: $mobile-width) {
			flex-direction: column;
			padding: 0;
		}
	}

	&__content {
		position: relative;

		padding: 6.6rem 7rem 7rem 7rem;
		margin-right: -18rem;
		margin-bottom: 4rem;
		
		@media (max-width: $mobile-width) {
			margin: 0;
			padding: 6.6rem 7rem 16rem 7rem;
		}
	}

	&__sub-title {
		font-family: "Exo 2";
		font-style: normal;
		font-weight: 300;
		font-size: 2.0rem;
		line-height: 120%;
		margin-bottom: 0.5rem;

		@media (max-width: $mobile-width) {}
	}

	.title {
		margin-bottom: 3.2rem;

		@media (max-width: $mobile-width) {}
	}

	p {
		margin-bottom: 4.5rem;
		font-weight: normal;
		font-size: 1.8rem;
		line-height: 150%;

		@media (max-width: $mobile-width) {
			font-size: 3.2rem;
			line-height: 196%;
		}
	}

	.btn {}

	&__icon {
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translate(50%, 50%);
		background: #6EEC91;

		padding: 2.8rem;
		box-shadow: 0.5rem 1rem 3rem rgba(67, 66, 72, 0.3);
		border-radius: 2rem;

		@media (max-width: $mobile-width) {
			right: 50%;
			transform: translate(50%, 50%);
			width: 18rem;
			height: 18rem;border-radius: 4rem;
			padding: 4.7rem;
		}

	}

	&__img {
		background: #FFFFFF;
		min-width: 91.1rem;
		overflow: hidden;
		box-shadow: 0 4rem 10rem rgba(67, 66, 72, 0.04);
		border-radius: 2rem;
		img {
			height: 100%;
			object-fit: cover;
			display: flex;
		}
		@media (max-width: $mobile-width) {
			min-width: auto;
			max-width: 57rem;
			height: 74rem;
			margin-top: -23rem;

		}
	}

}