.fraction {

  &__wrapper {
    display: flex;
    align-items: center;
    margin-right: -3rem;
  }

  &__btn {
    padding: 0 3rem;
    width: 7.7rem;
    height: 3.8rem;
    display: flex;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__number {
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 110%;

    span {
      color: rgba(67, 66, 72, 0.7);
      padding: .5rem 1.0rem;
      cursor: pointer;
    }

    .active {
      font-size: 2.2rem;
      font-weight: 600;
      cursor: default;
    }
  }
}