.nav {
  position: relative;

  a {
    font-size: 1.9rem;
    line-height: 2.8rem;
    color: rgba(67, 66, 72, 0.7);

  }

  &__list {}



  &__item {
    // &:hover {
    //   .nav__open-list {
    //     transform: rotate(0);
    //   }
    // }

    li {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      a {
        width: 100%;

      }

      &>button {
        // position: relative;
        transform: translate(0, -0.3rem) rotate(0deg);
        height: 7rem;
        width: 2.5rem;
        position: absolute;
        right: -0.5rem;

        @media (max-width: $mobile-width) {
          transform: rotate(180deg);
          right: 0;
        }

        svg {
          position: absolute;
          top: 50%;
          transform: rotate(-90deg);
          right: 0.5rem;
          width: 1.5rem;
          height: 0.9rem;

          @media (max-width: $mobile-width) {
            width: 3rem;
            height: 1.8rem;
            transform: rotate(0);
            right: 1.5rem;
          }
        }
      }

      ul {
        width: 100%;
      }
    }
  }

  &__link {}

  &__sub-list {
    position: relative;


    &::before {
      position: absolute;
      content: '';
      top: -7.1rem;
      right: 0;
      bottom: 0;
      z-index: -1;
      left: 0;
      display: flex;
      width: 100rem;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0rem;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      background: #B4B3B4;
      z-index: -1;
      overflow: hidden;
      border-radius: 0 0 0 2rem;
    }

    left: 0;
    width: 34.2rem;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    padding: 3rem 0;
    height: 40rem;
    z-index: 111;
    position: absolute;

    top: calc(100% + 7.1rem);


    ul,
    li {
      margin: 0;
      padding: 0;
    }

    ul {
      opacity: 0;
      visibility: hidden;
      transition: 0.2s;
      background: transparent;
      filter: blur(0rem);

      &::after {
        position: absolute;
        content: '';
        top: 0rem;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        filter: blur(0rem);
        background: #dddcdd;
        z-index: -1;

      }

      ul {

        &::after {
          border-radius: 0 0 2rem 0;
          overflow: hidden;
        }
      }
    }

    li {
      padding: 0 6rem;
      // transition: 0.3s;
      button {
        // transition: 0.3s;
        img {
          opacity: 0;
          // transition: 0.3s;
        }
      }

      &:hover {
        transition: 0.3s;
        button {
          transition: 0.3s;
          img {
            opacity: 1;
            transition: 0.3s;
          }
        }
      }

    }



  }

  &__open-list {
    width: 1.2rem;
    height: .7rem;
    margin-left: 1rem;
    transform: rotate(180deg);
    transition: 0.3s;

    svg {
      path {

        @media (max-width: $mobile-width) {
          stroke: rgba(67, 66, 72, 0.7);
        }

      }
    }
  }

  li:hover {
    transition: 0.2s;

    &>a {
      color: #434248;
    }

    &>ul {
      opacity: 1;
      visibility: visible;

      &:hover {
        opacity: 1;
        visibility: visible;
      }
    }
  }


  &__sub-item {
    ul {
      position: absolute;
      left: 34.2rem;
      top: 0;
      bottom: 0;
      padding: 3rem 0;
      width: 34.2rem;

      a {
        padding: 1rem 0;
        display: flex;

      }

      li {
        ul {
          left: 34.2rem;

          a {
            padding: 1.3rem 0;
          }
        }
      }
    }
  }

  &__sub-link {
    display: flex;
    padding: 1.5rem 0;
  }

  &__close {
    display: none;
  }

  &__search {
    display: none;
  }
}

@media (max-width: $mobile-width) {

  .nav {

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: 0;
    padding: 0;
    background: #E5E5E5;
    z-index: 11;

    height: 100vh;

    &--open {}

    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      position: static;
      margin: 0;

      opacity: 1;
      visibility: visible;
      height: auto;
      background: transparent;

      &before,
      &::after {
        content: none;
      }

      a {
        font-weight: 400;
        font-size: 3.6rem;
        line-height: 5.4rem;
      }

      &::before {
        content: none;
      }


      ul {
        a {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
        }

        ul {
          ul {
            li {
              &:before {
                content: none;
              }
            }
          }
        }


      }


    }

    li {
      position: relative;
      padding: 2rem 0;
      width: 100%;

      &::before {
        content: '';
        height: 0.1rem;
        width: 100rem;
        left: -25rem;
        top: -0.5rem;
        background: rgba(67, 66, 72, 0.3);
        display: flex;
        position: absolute;
      }
    }

    &__item {
      ul {
        display: none;
      }
    }

    &__close {
      display: flex;
      width: 5.2rem;
      height: 5.2rem;
      position: absolute;
      z-index: 12;
      left: 4rem;
      top: 10.6rem;
      padding: 1rem;
    }

    &__list {
      position: fixed !important;
      height: calc(100vh - 35rem) !important;
      overflow-x: auto;
      bottom: 0;

      a {}
    }

    &__search {
      padding: 0 20rem 0 3.2rem;
      display: flex;
      position: absolute;
      top: 25rem;
      left: 0;
      height: 5rem;
      width: 100%;
      position: relative;

      label {
        width: 100%;
      }

      input {
        width: 100%;
        height: 100%;
        border: none;
        border-bottom: 0.1rem solid #434248;
        padding: 2.8rem 0 2.8rem 5.8rem;
        background: transparent;
        font-size: 2.8rem;
        line-height: 10rem;

        &::placeholder {
          font-weight: 400;
          font-size: 2.8rem;
          line-height: 10rem;
        }
      }

      button {
        width: 7.2rem;
        height: 7.2rem;
        position: absolute;
        top: -0.8rem;
        left: 1.4rem;
        padding: 2rem;
      }
    }

    &__sub-list {
      // 


      li {
        padding: 0 0 0 5rem;
        width: 71.6rem;
      }
    }

    &__open-list {
      width: 9rem;
      height: 7.2rem;
      position: absolute;
      right: 3rem;
      top: 0;
      padding: 3rem;
      transform: rotate(180deg);
      transition: 0.2s;
    }

    &__sub-item {

      ul {
        padding: 2rem 0;

      }
    }

    .active {

      &>button {
        transform: rotate(0deg);
        transition: 0.2s;
      }

      &>ul {
        display: block !important;

      }

      &>a {
        font-weight: 700;
      }

    }
  }
}