.page-review {

  .container {
    display: flex;
    align-items: center;
    @media (max-width: $mobile-width) {
      flex-wrap: wrap;
    }
  }

  &__wrapper {
    overflow: hidden;
    max-width: 148rem;
    margin: 0 auto;
    display: flex;
    padding-bottom: 9rem;
    align-items: center;

    @media (max-width: $mobile-width) {
      flex-direction: column;
      padding-bottom: 12rem;
      padding-top: 4rem;
    }
  }

  &__wrapper-pos {
    z-index: 1;
    display: flex;
    align-items: center;

    @media (max-width: $mobile-width) {
      flex-direction: column;
      position: relative;
      padding-bottom: 14rem;
    }
  }

  &__block {
    z-index: 2;

    @media (max-width: $mobile-width) {
      width: 100%;
    }

    p {
      font-family: "Euclid Circular A";

      font-style: normal;
      font-weight: normal;
      font-size: 1.8rem;
      line-height: 23px;
      margin-bottom: 3rem;
      width: 44.1rem;

      @media (max-width: $mobile-width) {
        margin-bottom: 3.3rem;
        width: 90%;
        font-size: 3.6rem;

      }
    }


  }

  &__pagination {
    margin-bottom: 5rem;

    @media (max-width: $mobile-width) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      justify-content: center;
      display: flex;
    }

    .pagination__fraction {
      width: auto;
    }
  }

  &__score {
    margin-left: 9.5rem;
    margin-bottom: 2rem;

    @media (max-width: $mobile-width) {
      margin-left: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    font-family: "Euclid Circular A";
    margin-bottom: 6.3rem;

    @media (max-width: $mobile-width) {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 0rem;
      margin-bottom: 3.8rem;
    }
  }

  &__head {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 800;
    font-size: 6rem;
    line-height: 7.2rem;

    @media (max-width: $mobile-width) {
      font-size: 10rem;
      line-height: 12rem;


    }
  }

  &__info {
    margin-left: 1.6rem;
    display: flex;
    flex-direction: column;

    @media (max-width: $mobile-width) {
      margin-left: 4.1rem;
    }

    span {
      &:first-child {
        font-weight: bold;
        font-size: 2.3rem;
        line-height: 2.9rem;

        @media (max-width: $mobile-width) {

          font-size: 4rem;
          line-height: 5rem;
        }
      }

      &:last-child {
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 2.3rem;

        @media (max-width: $mobile-width) {
          font-size: 3.2rem;
          line-height: 4rem;
        }
      }


    }


  }

  &__item {

    padding-left: 3rem;
    margin-bottom: 6.3rem;

    @media (max-width: $mobile-width) {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;

      &::before {
        width: 7.8rem;
      }
    }
  }

  &__count {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: bold;
    font-size: 4.0rem;
    line-height: 4.8rem;

    @media (max-width: $mobile-width) {
      font-size: 6rem;
      line-height: 7.2rem;
    }
  }

  &__name {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin-left: 1.6rem;

    @media (max-width: $mobile-width) {
      font-size: 3.2rem;
      line-height: 4rem;
      margin-left: 0;
    }
  }

  .pagination {
    display: flex;

    @media (max-width: $mobile-width) {
      position: relative;
      top: 4rem;
    }
  }

  .title {
    margin-bottom: 2rem;
    width: 44.1rem;
    margin-right: 12.1rem;

    font-size: 6rem;
    line-height: 6.5rem;


    @media (max-width: $mobile-width) {
      width: 35rem;

      font-size: 6rem;
      line-height: 120%;
    }
  }

  .lighter {
    font-weight: normal;

    @media (max-width: $mobile-width) {
      font-weight: 300;
    }
  }

  .btn {
    margin-bottom: 10rem;
    z-index: 11;

    @media (max-width: $mobile-width) {
      margin-bottom: 9rem;
      width: 44rem;
      font-size: 3.6rem;
      line-height: 150%;
    }
  }

  .bg-filter {
    @media (max-width: $mobile-width) {}
  }

  .slide-review {
    opacity: 0;
    transform: 0.3s;

    display: flex;
    width: auto;

    @media (max-width: $mobile-width) {}
  }

  .slide-review__img {

    filter: drop-shadow(10px 20px 40px rgba(67, 66, 72, 0.3));
    width: 54.5rem;
    width: 100%;
    height: 71.7rem;
    display: flex;

    @media (max-width: $mobile-width) {
      width: 100%;
      min-height: 78.0rem;
      margin-bottom: 5rem;
    }

    img {
      margin: auto;
      width: 100%;
      height: 55.7rem;
      object-fit: contain;

      @media (max-width: $mobile-width) {
        width: 59rem;
        height: 61rem;
        margin-top: 13rem;
      }
    }

    .btn {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);

      @media (max-width: $mobile-width) {
        left: auto;
        right: 0;
        top: 0;
        width: 10rem;
        height: 10rem;
        transform: translate(-50%, -50%);
      }
    }
  }

  .slide-review__circle {
    margin: auto;
    width: 36.4rem;
    height: 36.4rem;

    @media (max-width: $mobile-width) {
      width: 46.4rem;
      height: 46.4rem;
    }
  }

  .js-slider-reviews-big {
    z-index: 1;
    width: 54.5rem;
    display: flex;
    flex-wrap: nowrap;

    .page-review__block {
      z-index: 1;
      display: flex;
    }
  }

  .active {
    opacity: 1;
    transform: 0.3s;
  }
}