.page-about {

  &__content {

    // padding-top: 4.5rem;
    @media (max-width: $mobile-width) {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 4.7rem;
    }
  }

  &__left {

    @media (max-width: $mobile-width) {
      order: 2;
    }
  }

  &__img {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 1.0rem 10.0rem rgba(67, 66, 72, 0.1);
    border-radius: 2.0rem;
    overflow: hidden;
    width: 35.4rem;
    height: 20.0rem;
    top: -4rem;
    left: 4rem;

    @media (max-width: $mobile-width) {
      display: none;
    }
  }


  .delivery {}

  .container {}

  .delivery__wrapper {
    align-items: flex-end;
  }

  .sub-title {
    font-family: "Euclid Circular A";

    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 2.0rem;
    line-height: 120%;

    @media (max-width: $mobile-width) {
      font-size: 3.2rem;
      margin-top: 4rem;
    }
  }

  .title {
    margin-bottom: 4rem;
    font-size: 6.5rem;
    line-height: 120%;

    @media (max-width: $mobile-width) {
      font-weight: 800;
      font-size: 6rem;
      order: 1;
      margin-bottom: 5.4rem;

      span {
        font-weight: 300;
      }
    }
  }

  .lighter {}

  .btn {
    @media (max-width: $mobile-width) {
      margin: 0 0 4rem 0;
      order: 3;
    }
  }

  .btn__light {
    margin-left: 3rem;

    @media (max-width: $mobile-width) {
      margin-left: 0;
    }
  }

  .bg-filter {
    position: relative;
    margin-top: 14.3rem;
    width: 119.8rem;
    padding: 3.6rem 44.6rem;
    margin-right: -50rem;
    z-index: 0;
    bottom: 0;

    @media (max-width: $mobile-width) {
      background: none;
      margin: 0;
      width: 100%;
      padding: 0;
      backdrop-filter: none;
      box-shadow: none;
    }

    p {
      margin: 0;
      font-size: 1.6rem;
      line-height: 150%;

      @media (max-width: $mobile-width) {
        font-size: 3.2rem;
        margin-bottom: 5.4rem;
        width: 54rem;
      }
    }
  }

  .delivery__img {
    background: #FFFFFF;
    box-shadow: -2.0rem 4.0rem 10.0rem rgba(67, 66, 72, 0.1);
    border-radius: 10.0rem 0px 0px 10.0rem;
    z-index: 1;
    position: relative;
    right: -7.2rem;

    @media (max-width: $mobile-width) {
      z-index: 0;
      position: static;
      margin: 0 -3.2rem 0 0;
      right: 0;
      width: calc(100% + 3.2rem);
      max-width: calc(100% + 3.2rem);
    }

    img {
      display: flex;
    }
  }

  .page-review {
    width: 102.5rem;
    margin-right: 0;

    @media (max-width: $mobile-width) {
      margin-top: 8.8rem;
      align-items: flex-start;
      width: 100%;
    }
  }

  .page-review__item {
    margin-bottom: 0;

    @media (max-width: $mobile-width) {
      margin-bottom: 4rem;
      width: 32.4rem;
    }
  }

  .page-review__count {
    font-size: 3.0rem;
    line-height: 120%;

    @media (max-width: $mobile-width) {
      font-size: 5rem;
    }
  }

  .green {}

  .page-review__name {
    @media (max-width: $mobile-width) {
      font-size: 3.2rem;

    }
  }

  .text {}



  .page-delivery {}

  .page-delivery__bottom {}

  .page-delivery__description {
    width: 76.3rem;
    padding: 5.2rem 17rem 1.4rem 9rem;

    @media (max-width: $mobile-width) {
      position: relative;
      right: -3.2rem;
      margin-top: -9.6rem;
      padding: 5.7rem 10rem 1.4rem 6rem;

      background: linear-gradient(149.74deg, rgba(67, 66, 72, 0.9) 1.03%, rgba(39, 38, 44, 0.9) 99.31%);
      box-shadow: inset .1rem .2rem .4rem rgba(255, 255, 255, 0.2), inset -.2rem -.4rem .4rem rgba(67, 66, 72, 0.2);
      backdrop-filter: blur(2.0rem);
      /* Note: backdrop-filter has minimal browser support */

      border-radius: 1.0rem 0px 0px 1.0rem;

      p {
        font-size: 3rem;
        line-height: 150%;
      }
    }
  }

}