.review-about {

  .container {
    @media (max-width: $mobile-width) {}
  }

  &__wrapper {
    min-height: 35.1rem;
    max-width: 148rem;
    margin: 0 auto;
    padding: 7.6rem 0;

    @media (max-width: $mobile-width) {
      padding: 12rem 0;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6.7rem;

    @media (max-width: $mobile-width) {
      margin-bottom: 4.3rem;
    }

    span {
      font-weight: normal;
      font-size: 1.8rem;
      line-height: 2.3rem;

      @media (max-width: $mobile-width) {
        display: none;
      }
    }

  }

  &__title-wrapper {

    @media (max-width: $mobile-width) {}
  }

  .sub-title {
    margin-bottom: 1rem;

    @media (max-width: $mobile-width) {}
  }

  .title {
    @media (max-width: $mobile-width) {}
  }

  &__block-top {
    width: 79rem;
    padding: 5.9rem 9.1rem 6.1rem 7.5rem;
    margin-top: -0.3rem;

    @media (max-width: $mobile-width) {
      width: 100%;
      padding: 5.9rem 2.9rem 0.1rem 2.5rem;
    }

    p {

      line-height: 2.3rem;

      @media (max-width: $mobile-width) {
        font-size: 3.2rem;
        line-height: 4rem;
      }
    }
  }

  .bg-filter {}

  &__head {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 4.0rem;
    margin-bottom: 3.4rem;
    text-transform: uppercase;

    @media (max-width: $mobile-width) {
      margin-bottom: 5.2rem;
      font-size: 4rem;
      line-height: 120%;
    }
  }

  .text {


    @media (max-width: $mobile-width) {
      margin-bottom: 6rem;
    }
  }

  &__links {
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin-top: 4.1rem;

    @media (max-width: $mobile-width) {
      font-size: 2.8rem;
      line-height: 3.6rem;
      margin-top: 6.1rem;
      display: flex;
      justify-content: space-between;
      padding-right: 3rem;
    }

    a {

      margin-right: 7rem;
      position: relative;

        @media (max-width: $mobile-width) {
          margin-right: 0;
          
        }

      &::after {
        content: '';
        position: absolute;
        top: 0.9rem;
        right: -3.8rem;
        background-image: url("data:image/svg+xml,%3Csvg width='27' height='12' viewBox='0 0 27 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.25C0.585786 5.25 0.25 5.58579 0.25 6C0.25 6.41421 0.585786 6.75 1 6.75V5.25ZM26.5303 6.53033C26.8232 6.23744 26.8232 5.76256 26.5303 5.46967L21.7574 0.696699C21.4645 0.403806 20.9896 0.403806 20.6967 0.696699C20.4038 0.989593 20.4038 1.46447 20.6967 1.75736L24.9393 6L20.6967 10.2426C20.4038 10.5355 20.4038 11.0104 20.6967 11.3033C20.9896 11.5962 21.4645 11.5962 21.7574 11.3033L26.5303 6.53033ZM1 6.75H26V5.25H1V6.75Z' fill='%23434243'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 2.7rem;
        height: 1.2rem;
      }

    }
  }

  &__bottom {
    position: relative;
    width: 68.6rem;
    display: flex;
    align-items: center;

    @media (max-width: $mobile-width) {}
  }

  time {
    position: absolute;
    transform: rotate(90deg);
    top: 50%;
    right: 4rem;
    font-size: 1.6rem;
    line-height: 2.0rem;

    color: rgba(67, 66, 72, 0.7);

    @media (max-width: $mobile-width) {
      top: 5.3rem;
      right: 3rem;
      font-size: 3.2rem;
      line-height: 4.0rem;
      transform: none;
    }
  }

  &__rating-wrapper {
    padding: 8.7rem 7rem 7.8rem 7.1rem;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $mobile-width) {
      justify-content: space-between;
      padding: 4rem 3rem 14rem;
    }
  }

  &__rating-title {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3.0rem;
    width: 100%;
    margin-bottom: 4rem;

    @media (max-width: $mobile-width) {
      font-size: calc(2.0rem * 2);
      line-height: calc(2.5rem * 2);
      margin-bottom: 6.6rem;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    width: auto;
    padding-right: 2.4rem;

    @media (max-width: $mobile-width) {
      width: 33.3%;
      padding: 0;
    }


    span {
      &:first-child {
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 2.9rem;
        font-family: "Exo 2";
        margin-bottom: 5.3rem;

        @media (max-width: $mobile-width) {
          font-size: 4.0rem;
          line-height: 4.8rem;
        }

        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: -2.6rem;
          height: 0.2rem;
          width: 4rem;
          background: #52DD79;
          left: 0;

          @media (max-width: $mobile-width) {
            width: 7.7rem;
            height: 0.4rem;
          }
        }
      }

      &:last-child {
        font-weight: normal;
        font-size: 2.4rem;
        line-height: 3.0rem;

        @media (max-width: $mobile-width) {
          font-size: 3.2rem;
          line-height: 4rem;
        }
      }
    }


  }

  fieldset {
    border-radius: 2rem;
    display: flex;
    padding: 0;
    margin: 0 0 5.6rem;
    border: 0.1rem solid rgba(67, 66, 72, 0.2);

    @media (max-width: $mobile-width) {
      border-radius: 2rem;
      display: flex;
      flex-direction: column;
      position: relative;
      margin: 0 0 11.6rem;
    }
  }

  legend {
    margin-right: 7.1rem;
    padding: 0 2rem;
    text-align: right;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin-bottom: -1.4rem;
    display: flex;
    align-items: center;

    @media (max-width: $mobile-width) {
      bottom: -2.3rem;
      background-color: #fafafa;
      position: absolute;
      left: 55.6%;
      transform: translate(-50%, 0);
      font-size: 3.6rem;
      line-height: 4.6rem;
    }


    &:before {
      left: -1rem;
      height: calc(100% + 3.4rem);
      top: -1.6rem;

      @media (max-width: $mobile-width) {
        width: 10.3rem;
        left: -5.7rem;
        height: calc(100% + 7.2rem);
        top: -3.7rem; 
      }
    }


    span {
      font-family: "Exo 2";
      font-style: normal;
      font-weight: bold;
      font-size: 3rem;
      line-height: 3.6rem;
      margin-left: 1rem;

      @media (max-width: $mobile-width) {

        font-size: calc(3.0rem * 2);
        line-height: calc(3.6rem * 2);
      }
    }
  }

  &__btn {
    justify-content: center;
    display: flex;

    margin-bottom: 12.3rem;
    margin-top: 10.6rem;

    @media (max-width: $mobile-width) {
      margin-top: 14.8rem;
      margin-bottom: 12rem;
    }
  }
}