.social-left-right {

  .social-left {

    left: calc(100% - 17.3rem);
  }
}

.social-left {
  position: absolute;
  top: 7.3rem;
  left: 2.7rem;
  z-index: 0;
  width: 0;
  height: 0;

  &__wrapper {
    display: flex;
    justify-content: flex-end;

    transform: translate(8rem, 80rem) rotate(90deg);
    
      
      
      
  }

  @media (max-width: $mobile-width) {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;


  }

  li {
    padding: 3rem;
    display: flex;
    align-items: center;

  }

  a {
    font-weight: normal;
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 110%;
    display: flex;
    transform: rotate(180deg);

  }

  span {
    width: 15rem;
    height: 0.1rem;
    background: #434248;
    display: flex;

  }

  img {
    width: 1.5rem;
    height: 2.0rem;
    object-fit: contain;
    transform: rotate(-90deg);
    margin-left: 1rem;
  }
}