.sort {

  ul {
    display: flex;
    justify-content: space-between;
    padding: 3.2rem 3rem;
    align-items: center;
    margin-bottom: 4rem;
  }

  li {}

  span {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 110%;
  }

  a {
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 110%;
  }

  .active {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 110%;
    display: flex;
    align-items: center;
    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5M9 9L5 5M5 5L1 9M5 5L9 1' stroke='%23434248' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      width: 0.8rem;
      height: 0.8rem;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      display: flex;
      justify-content: center;
      margin-right: 0.8rem;
    }
  }
}