<section class="application">
  <div class="container">
    <div class="application__wrapper">
      <div class="application__image">
        <img src="./img/luigi-pozzoli.jpg" alt="картинка">
      </div>


      <form class="application__form bg-filter form">
        <div class="form__title">
          <div class="title">Оставьте вашу заявку</div>
          <span class="form__sub-title">Отправляя форму, вы даете согласие на обработку <a href="#">персональных данных</a></span>
        </div>
        <fieldset>
          <legend>Имя</legend>
          <label>
            <input name="name" type="text">
          </label>
        </fieldset>
        <fieldset>
          <legend>Телефон</legend>
          <label>
            <input name="phone" type="text">
          </label>
        </fieldset>
        <fieldset>
          <legend>E-mail</legend>
          <label>
            <input name="email" type="text">
          </label>
        </fieldset>
        <fieldset class="form__big">
          <legend>Комментарий</legend>
          <label>
            <input name="comments" type="text">
          </label>
        </fieldset>

        <button type="submit" class="btn">
          <span>Отправить</span>
        </button>

      </form>
    </div>
  </div>

</section>