<div class="banquet">
  <div class="banquet__wrapper">
    <div class="bg-filter">
      <div class="banquet__img">
        <img src="./img/banquet.png" alt="">
      </div>
      <span class="banquet__gram">40 г.</span>
      <div class="banquet__title">Салат Цезарь</div>
      <span class="banquet__description">С лососем</span>
      <div class="banquet__pirce">
        320
        <span>₽/шт</span>
      </div>
      <a class="btn btn__arrow" href="#">
        <span></span>
      </a>
    </div>
  </div>
</div>