<section class="delivery">
  <div class="container">
    <div class="delivery__wrapper">
      <div class="delivery__content bg-filter">
        <div class="sub-title">ДОСТАВКА И ОПЛАТА</div>
        <div class="title">Предлагаем бесплатную доставку</div>
        <p>В пределах МКАД при заказе от 5000 ₽ (за выбранный интервал)</p>
        <a class="btn" href="#">
          <span>Узнать подробнее</span>
        </a>
        <div class="delivery__icon">
          <img src="./img/icon/delivery.svg" alt="car">
        </div>
      </div>
      <div class="delivery__img">
        <img src="./img/delivery.jpg" alt="delivery">
      </div>
    </div>
  </div>
</section>