<div class="filters">
  <div class="filters__wrapper">
    <!-- /.catalog__left-title -->
    <ul class="filters__list">
      <li class="filters__title">



        <button class="filters__arrow">
          <span>Категории меню</span>
          <img src="./img/icon/arrow-filter.svg" alt="arrow">
        </button>

        <ul class="filters__sub-menu">
          <li class="filters__item">
            <a href="#">Все</a>
          </li>
          <li class="filters__item">
            <a href="#">Фуршетные блюда</a>
          </li>
          <li class="filters__item">
            <a href="#">Вторые блюда</a>
          </li>
          <li class="filters__item">
            <a href="#">Десерты</a>
          </li>
          <li class="filters__item">
            <a href="#">Канапе и мини-закуски</a>
          </li>
          <li class="filters__item">
            <a href="#">Холодные закуски</a>
          </li>
          <li class="filters__item">
            <a href="#">Салаты</a>
          </li>
          <li class="filters__item">
            <a href="#">Анимационные станции</a>
          </li>
          <li class="filters__item">
            <a href="#">Домашняя выпечка</a>
          </li>
          <li class="filters__item">
            <a href="#">Основные блюда</a>
          </li>
          <li class="filters__item">
            <a href="#">Бургеры и сэндвичи</a>
          </li>
          <li class="filters__item">
            <a href="#">Горячие закуски</a>
          </li>
          <li class="filters__item">
            <a href="#">Гарниры</a>
          </li>
          <li class="filters__item">
            <a href="#">Напитки</a>
          </li>
        </ul>

      </li>
      <!-- title -->


    </ul>
  </div>
</div>