<div class="fraction">
  <div class="fraction__wrapper">
    <button class="fraction__btn">
      <svg viewBox="0 0 23 44" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20 41L4.38323 25.3586C2.53892 23.5114 2.53892 20.4886 4.38323 18.6414L20 3" stroke="#434248" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
      </svg>

    </button>

    <div class="fraction__number">
      <span>1</span>
      <span class="active">2</span>
      <span>3</span>
      <span>4</span>
      <span>...</span>
      <span>8</span>
    </div>

    <button class="fraction__btn">
      <svg  viewBox="0 0 23 44" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 41L18.6168 25.3586C20.4611 23.5114 20.4611 20.4886 18.6168 18.6414L3 3" stroke="#434248" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
      </svg>

    </button>
  </div>
</div>