<section class="granting">
  <div class="container text">
    <div class="granting__wrapper">
      <div class="granting__left">
        <div class="granting__left-title granting__left-title-strong">
          <div class="sub-title">Информация о заказе</div>

          <div class="title">Как вы можете заказать доставку готовых блюд на&nbsp;ваше мероприятие в москве</div>
          <div class="granting__right-image">
            <img src="./img/marianna.jpg" alt="напитки">
          </div>
        </div>

        <div class="granting__left-inner">
          <div class="granting__left-inner-left">
            <div class="granting__left-inner-left-text granting__left-inner-left-text-strong">
              Более 10 лет на рынке
            </div>

            <a download="" href="#" class="btn btn__light">
              <span>Скачать презентацию</span>
            </a>
          </div>

          <p class="granting__left-inner-right">
            Доверьте все хлопоты по проведению банкета, фуршета, кофе-брейка или любого другого мероприятия профессионалам кейтеринг-компании PotterFamily. Мы готовы организовать мероприятие от 20 человек до нескольких тысяч гостей. Вы озвучиваете ваши пожелания
            – мы их воплощаем. Сделайте сови мероприятия поистине незабываемыми
          </p>

        </div>

      </div>



    </div>

    <div class="granting__wrapper-two">
      <div class="granting__image">
        <img src="./img/furkanfdemir.jpg" alt="коктель">
      </div>

      <div class="granting__description">
        <div class="granting__descriptio-text">
          <p>В зависимости от типа мероприятия, количества гостей и пожеланий заказчика выбирается формат выездного кейтеринга: банкет, фуршет, коктейль, шведский стол, барбекю, гала-ужин или кофе-брейк.</p>
          <p> Не знаете, какой формат кейтеринга выбрать? Специалисты кейтеринг-компании PotterFamily помогут вам подобрать наиболее подходящий вид формат организации питания для вашего мероприятия и проконсультируют по всем нюансам</p>
          <p> Обладая большим опытом в реализации нестандартных решений, специалисты нашей компании помогут провести любое мероприятие до 8000 человек.</p>
        </div>

        <div class="granting__descriptio-text">
          <p>Что включает в себя кейтеринг? В стоимость кейтеринга могут входить следующие услуги:</p>
          <ul>
            <li>
              <p> Подбор площадки для проведения мероприятия</p>
            </li>
            <li>
              <p> Выбранный вариант меню или составление списка блюд по индивидуальным пожеланиям</p>
            </li>
            <li>
              <p> Организация и декор пространства, украшение столов</p>
            </li>
            <li>
              <p> Аренда оборудования для кейтеринга, в том числе столов, посадочных мест, посуды, столового текстиля и т.д.,</p>
            </li>
            <li>
              <p> Доставка блюд в рефрижераторах</p>
            </li>
            <li>
              <p> Обслуживание мероприятия официантами</p>
            </li>
            <li>
              <p> Дополнительные услуги, например: выездной бар, станции демонстрационного приготовления блюд и т.д.</p>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </div>

</section>