<div class="pagination">
  <button class="pagination__btn pagination__prew">
    <svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9 18.7969L1.65093 11.4714C0.783022 10.6063 0.783022 9.19062 1.65093 8.32549L9 1" stroke="#434248" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
    </svg>

  </button>
  <div class="pagination__fraction">
    <span>1</span>
    /
    <span>3</span>
  </div>
  <button class="pagination__btn pagination__next">
    <svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 18.7969L8.34907 11.4714C9.21698 10.6063 9.21698 9.19062 8.34907 8.32549L1 1" stroke="#434248" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
    </svg>

  </button>
</div>