<div class="portfolio-filters">
  <div class="portfolio-filters__title">
    <div class="title portfolio-filters__desctop">Фильтр</div>
  </div>
  <form action="#">
    <fieldset class="portfolio-filters__counts">
      <legend>Количество человек</legend>

      <label>
        <input type="text" name="от" placeholder="от">
      </label>
      <span></span>
      <label>
        <input type="text" name="до" value="5000">
      </label>

      <div class="portfolio-filters__progress">
        <label>
          <input type="range" name="volume" min="0" max="10000">
        </label>

        <div>0</div>
        <div>10 000</div>
      </div>


    </fieldset>



    <fieldset class="portfolio-filters__items active">
      <legend>Тип мероприятия</legend>
      <div class="portfolio-filters__head">
        <span>Все</span>
        <button class="js-filters-btns" type="button">
          <svg viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L6 6L11 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>
      <div class="portfolio-filters__dots js-filters-dots">
        <label>
          <input type="radio" name="type" value="Все" checked>
          <span></span>
          <p>Все</p>
        </label>
        <label>
          <input type="radio" name="type" value="Свадьба">
          <span></span>
          <p>Свадьба</p>
        </label>
        <label>
          <input type="radio" name="type" value="День рождения">
          <span></span>
          <p>День рождения</p>
        </label>
        <label>
          <input type="radio" name="type" value="8 марта">
          <span></span>
          <p>8 марта</p>
        </label>
        <label>
          <input type="radio" name="type" value="23 февраля">
          <span></span>
          <p>23 февраля</p>
        </label>
        <label>
          <input type="radio" name="type" value="Новый год">
          <span></span>
          <p>Новый год</p>
        </label>
        <label>
          <input type="radio" name="type" value="Масленица">
          <span></span>
          <p>Масленица</p>
        </label>
        <label>
          <input type="radio" name="type" value="Выпускной">
          <span></span>
          <p>Выпускной</p>
        </label>

        <label>
          <input type="radio" name="type" value="Все">
          <span></span>
          -----------------------
        </label>
        <label>
          <input type="radio" name="type" value="Свадьба">
          <span></span>
          <p>Свадьба</p>
        </label>
        <label>
          <input type="radio" name="type" value="День рождения">
          <span></span>
          <p>День рождения</p>
        </label>
        <label>
          <input type="radio" name="type" value="8 марта">
          <span></span>
          <p>8 марта</p>
        </label>
        <label>
          <input type="radio" name="type" value="23 февраля">
          <span></span>
          <p>23 февраля</p>
        </label>
        <label>
          <input type="radio" name="type" value="Новый год">
          <span></span>
          <p>Новый год</p>
        </label>
        <label>
          <input type="radio" name="type" value="Масленица">
          <span></span>
          <p>Масленица</p>
        </label>
        <label>
          <input type="radio" name="type" value="Выпускной">
          <span></span>
          <p>Выпускной</p>
        </label>
      </div>
    </fieldset>

    <fieldset class="portfolio-filters__items">
      <legend>Формат мероприятия</legend>
      <div class="portfolio-filters__head">
        <span>Все</span>
        <button class="js-filters-btns" type="button">
          <svg viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L6 6L11 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>
      <div class="portfolio-filters__dots js-filters-dots">
        <label>
          <input type="radio" name="event" value="Все" checked>
          <span></span>
          <p>Все</p>
        </label>
        <label>
          <input type="radio" name="event" value="Свадьба">
          <span></span>
          <p>Свадьба</p>
        </label>
        <label>
          <input type="radio" name="event" value="День рождения">
          <span></span>
          <p>День рождения</p>
        </label>
        <label>
          <input type="radio" name="event" value="8 марта">
          <span></span>
          <p>8 марта</p>
        </label>
        <label>
          <input type="radio" name="event" value="23 февраля">
          <span></span>
          <p>23 февраля</p>
        </label>
        <label>
          <input type="radio" name="event" value="Новый год">
          <span></span>
          <p>Новый год</p>
        </label>
        <label>
          <input type="radio" name="event" value="Масленица">
          <span></span>
          <p>Масленица</p>
        </label>
        <label>
          <input type="radio" name="event" value="Выпускной">
          <span></span>
          <p>Выпускной</p>
        </label>
      </div>
    </fieldset>

    <fieldset class="portfolio-filters__items">
      <legend>Тематика</legend>
      <div class="portfolio-filters__head">
        <span>Все</span>
        <button class="js-filters-btns" type="button">
          <svg viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L6 6L11 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>
      <div class="portfolio-filters__dots js-filters-dots">
        <label>
          <input type="radio" name="subject" value="Все" checked>
          <span></span>
          <p>Все</p>
        </label>
        <label>
          <input type="radio" name="subject" value="Свадьба">
          <span></span>
          <p>Свадьба</p>
        </label>
        <label>
          <input type="radio" name="subject" value="День рождения">
          <span></span>
          <p>День рождения</p>
        </label>
        <label>
          <input type="radio" name="subject" value="8 марта">
          <span></span>
          <p>8 марта</p>
        </label>
        <label>
          <input type="radio" name="subject" value="23 февраля">
          <span></span>
          <p>23 февраля</p>
        </label>
        <label>
          <input type="radio" name="subject" value="Новый год">
          <span></span>
          <p>Новый год</p>
        </label>
        <label>
          <input type="radio" name="subject" value="Масленица">
          <span></span>
          <p>Масленица</p>
        </label>
        <label>
          <input type="radio" name="subject" value="Выпускной">
          <span></span>
          <p>Выпускной</p>
        </label>
      </div>
    </fieldset>


    <fieldset class="portfolio-filters__subject">
      <legend>Дополнительно</legend>
      <label>
        <input type="checkbox" name="Additionally" id="" checked>
        <span></span>
        С видео
      </label>
      <label>
        <input type="checkbox" name="Additionally" id="">
        <span></span>
        С оформлением
      </label>
    </fieldset>

  </form>
</div>