<section class="slider-portfolio">
  <div class="container">
    <div class="slider-portfolio__wrapper">

      <div class="slider-portfolio__head">
        <div class="slider-portfolio__left">
          <div class="sub-title">Наше портфолио</div>
          <div class="title">Гордимся проделанной работой</div>
        </div>
        <div class="slider-portfolio__btn-all">
          <a class="btn" href="#">
            <span>Смотреть все проекты</span>
          </a>
        </div>
      </div>

      <div class="slider-portfolio__slider js-slider-portfolio">
        <div class="slider-portfolio__inner js-wrapper">
          <div class="slider-portfolio__slide js-slide">
            <div class="bg-filter">
              <div class="slider-portfolio__img">
                <img src="./img/slider-portfolio.jpg" alt="Свадебный банкет
                на 300 персон">
              </div>
              <div class="slider-portfolio__content">
                <div class="slider-portfolio__count">01</div>
                <div class="slider-portfolio__title">Свадебный банкет
                  на 300 персон</div>
                <span>Формат мероприятия</span>
                <p>Банкет</p>
                <span>Количество гостей</span>
                <p>400</p>
                <span>Дата мероприятия</span>
                <p>06.04.2021</p>
              </div>
            </div>
          </div>
          <div class="slider-portfolio__slide js-slide">
            <div class="bg-filter">
              <div class="slider-portfolio__img">
                <img src="./img/slider-portfolio.jpg" alt="Свадебный банкет
                на 300 персон">
              </div>
              <div class="slider-portfolio__content">
                <div class="slider-portfolio__count">02</div>
                <div class="slider-portfolio__title">Свадебный банкет
                  на 300 персон</div>

                <span>Формат мероприятия</span>
                <p>Банкет</p>
                <span>Количество гостей</span>
                <p>400</p>
                <span>Дата мероприятия</span>
                <p>06.04.2021</p>
              </div>
            </div>
          </div>
          <div class="slider-portfolio__slide js-slide">
            <div class="bg-filter">
              <div class="slider-portfolio__img">
                <img src="./img/slider-portfolio.jpg" alt="Свадебный банкет
                на 300 персон">
              </div>
              <div class="slider-portfolio__content">
                <div class="slider-portfolio__count">03</div>
                <div class="slider-portfolio__title">Свадебный банкет
                  на 300 персон</div>

                <span>Формат мероприятия</span>
                <p>Банкет</p>
                <span>Количество гостей</span>
                <p>400</p>
                <span>Дата мероприятия</span>
                <p>06.04.2021</p>
              </div>
            </div>
          </div>
          <div class="slider-portfolio__slide js-slide">
            <div class="bg-filter">
              <div class="slider-portfolio__img">
                <img src="./img/slider-portfolio.jpg" alt="Свадебный банкет
                на 300 персон">
              </div>
              <div class="slider-portfolio__content">
                <div class="slider-portfolio__count">04</div>
                <div class="slider-portfolio__title">Свадебный банкет
                  на 300 персон</div>

                <span>Формат мероприятия</span>
                <p>Банкет</p>
                <span>Количество гостей</span>
                <p>400</p>
                <span>Дата мероприятия</span>
                <p>06.04.2021</p>
              </div>
            </div>
          </div>
          <div class="slider-portfolio__slide js-slide">
            <div class="bg-filter">
              <div class="slider-portfolio__img">
                <img src="./img/slider-portfolio.jpg" alt="Свадебный банкет
                на 300 персон">
              </div>
              <div class="slider-portfolio__content">
                <div class="slider-portfolio__count">05</div>
                <div class="slider-portfolio__title">Свадебный банкет
                  на 300 персон</div>

                <span>Формат мероприятия</span>
                <p>Банкет</p>
                <span>Количество гостей</span>
                <p>400</p>
                <span>Дата мероприятия</span>
                <p>06.04.2021</p>
              </div>
            </div>
          </div>
          <div class="slider-portfolio__slide js-slide">
            <div class="bg-filter">
              <div class="slider-portfolio__img">
                <img src="./img/slider-portfolio.jpg" alt="Свадебный банкет
                на 300 персон">
              </div>
              <div class="slider-portfolio__content">
                <div class="slider-portfolio__count">06</div>
                <div class="slider-portfolio__title">Свадебный банкет
                  на 300 персон</div>

                <span>Формат мероприятия</span>
                <p>Банкет</p>
                <span>Количество гостей</span>
                <p>400</p>
                <span>Дата мероприятия</span>
                <p>06.04.2021</p>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-portfolio__btn">
          <button class="slider-portfolio__prev js-prev">
            <svg width="23" height="44" viewBox="0 0 23 44" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20 41L4.38323 25.3586C2.53892 23.5114 2.53892 20.4886 4.38323 18.6414L20 3" stroke="#434248" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

          </button>
          <button class="slider-portfolio__next js-next">
            <svg width="23" height="44" viewBox="0 0 23 44" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 41L18.6168 25.3586C20.4611 23.5114 20.4611 20.4886 18.6168 18.6414L3 3" stroke="#434248" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

          </button>
        </div>

        <div class="slider-portfolio__pagination pagination">
          <button class="pagination__btn pagination__prew">
            <svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 18.7969L1.65093 11.4714C0.783022 10.6063 0.783022 9.19062 1.65093 8.32549L9 1" stroke="#434248" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>

          </button>
          <div class="pagination__fraction">
            <span>1</span>
            /
            <span>3</span>
          </div>
          <button class="pagination__btn pagination__next">
            <svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 18.7969L8.34907 11.4714C9.21698 10.6063 9.21698 9.19062 8.34907 8.32549L1 1" stroke="#434248" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>

          </button>
        </div>


      </div>
    </div>
  </div>
</section>